parameters:
    phpVersion: 80300
    level: 8
    tmpDir: var/cache/phpstan
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false

    bootstrapFiles:
        - vendor/shopware/core/DevOps/StaticAnalyze/phpstan-bootstrap.php

    paths:
        - vendor/krme

    symfony:
        constantHassers: false
        containerXmlPath: 'var/cache/static_phpstan_dev/Shopware_Core_DevOps_StaticAnalyze_StaticAnalyzeKernelPhpstan_devDebugContainer.xml'
        consoleApplicationLoader: vendor/shopware/core/DevOps/StaticAnalyze/console-application.php
