parameters:
    phpVersion: 80200
    level: 8
    tmpDir: var/cache/phpstan
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false

    bootstrapFiles:
        - tests/PHPStanBootstrap.php

    excludePaths:
            - */node_modules/

    ignoreErrors:
